{% extends 'frontend_app/base.html' %}
{% load static %}

{% block content %}
    {% if not students %}
        <div class="main-title">
            <h1>Нет данных о студентах</h1>
        </div>
        {% if request.COOKIES.group == "admin" %}
        <div class="pull-right">
            <a href="{% url 'student_new' %}" class="btn btn-default btn-success">Добавить</a>
        </div>
        {% endif %}
    {% else %}
    <form class="form-horizontal" role="presentation">
        {% if request.COOKIES.group == "admin" %}
        <div class="form-group">
            <div class="pull-right">
                <a href="{% url 'student_new' %}" class="btn btn-default btn-success">Добавить</a>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <table class="table table-striped table-bordered table-hover"
                   data-toggle="table"
                   data-filter-control="true">
                <thead>
                    <tr>
                        <th data-field="surname" data-filter-control="input">Фамилия</th>
                        <th data-field="name" data-filter-control="input">Имя</th>
                        <th data-field="patronymic" data-filter-control="input">Отчество</th>
                        <th data-field="group" data-filter-control="select">Группа</th>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for student in students %}
                    <tr>
                        <td><a href="{% url 'student_detail' pk=student.id %}"></a>{{ student.surname }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.patronymic }}</td>
                        <td>{{ student.group }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if request.COOKIES.group == "admin" %}
        <div class="form-group">
            <div class="pull-right">
                <a href="{% url 'student_new' %}" class="btn btn-default btn-success">Добавить</a>
            </div>
        </div>
        {% endif %}
    </form>
    {% endif %}
{% endblock %}
